<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz_Final"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".timeout_layout"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.quiz_final.Congratulations_layout.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Start_layout"
            android:exported="false" />
        <activity
            android:name=".Test_layout"
            android:exported="false" />
        <activity
            android:name=".Congratulations_layout"
            android:exported="false" />
        <activity
            android:name=".Quiz_layout"
            android:exported="false" />
        <activity
            android:name=".Set_pass_layout"
            android:exported="false" />
        <activity
            android:name=".login_layout"
            android:exported="false" />
        <activity
            android:name=".Sign_up_layout"
            android:exported="false" />
        <activity
            android:name=".Forgot_pass_layout"
            android:exported="false" />
        <activity
            android:name=".Nickname_layout"
            android:exported="false" />
        <activity
            android:name=".Intro_layout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CoursesAdapter" />
    </application>

</manifest>